# pip install -qr requirements.txt

# base ----------------------------------------
cython
matplotlib
numpy
opencv-python<=4.3
Pillow
PyYAML
scipy
tensorboard
torch
torchvision
tqdm

# logging -------------------------------------
wandb

# plotting ------------------------------------
seaborn
pandas

# export --------------------------------------
# coremltools
# onnx>=1.8.1
# scikit-learn==0.19.2  # for coreml quantization

# extras --------------------------------------
thop  # FLOPS computation
pycocotools==2.0.0  # COCO mAP
